/*csslint order-alphabetical: false, box-model: false*/

/*css specificity*/

/*a main menu-n beluli menu item
.main-menu .main-menu-item{
    color: blue;
}*/
/*.main-menu-item{
    color:black;
}*/

/*az za elem aminek mindkettő classa megvan:
.main-menu-item.elso-menupont {
    color: red;
}*/

main {
    background-color: lightblue;
/*    tudjuk hogy a padding megnöveli az elem szélességét*/
    padding: 30px;
    width: 960px;
/*    ha csak kettő értéket kap a margin vagy a padding, akkor*/
/*    az első érték alul-fölül, a második jobbra-balra*/
/*    a margin: 0 auto, fix, és adott szélesség esetén középre igazitja au adott elemet*/
    margin: 0 auto;
}

footer {
    background-color: blue;
    color:white;
    text-align: center;
    padding-top: 10px;
    height: 25px;
}

h1 {
    font-size: 40px;
/*    szöveg középre igazitása: */
    text-align: center;
}
.main-menu-container {


    background-color: lightblue;
/*    ez is kell ahhoz hogy a main-menu középen legyen*/
/*    inline elemek esetében, a text-align: center igazít középre*/
    text-align: center;
    margin-bottom: 40px;
}

.main-menu {
    list-style: none;
    padding: 0;
    
}

.main-menu-item {
/*    itt állitjuk át a lista item típusát blokk szintűről inline-ra*/
    display: inline-block;
    font-size: 17px;
    padding: 20px 10px;
    background-color: blue;
    color: white;
/*    azért hogy a submenu-t a főmenühöz képest tudjuk igazitani, az összes főmenü: position: relative */
    position: relative;
/* animáció hozzáadása: */
    transition: background-color .5s  ease-in-out;
}

.main-menu-item:hover, .submenu-item:hover 
{
    background-color: red;
} 
.main-menu-item:hover > .submenu 
{
/*    a submenu akkor jelenik meg ha a main-menu-item-re hoverezünk */
    visibility: visible;
    opacity: 1;
}

.submenu
{
    list-style: none;
    padding: 0;
    margin: 0;
/*    a submenu pozicióját ducoment flow-tól függetlenül állitjuk, ezért kell a position: absolute*/
    position: absolute;
    top: 60px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s  ease-in-out;
    
   
}

.submenu-item 
{
    padding: 20px 10px;
    background-color: blue;
    transition: background-color .5s  ease-in-out;
}

.gombos-menu {
    display: none;
}
.menu-checkbox-input {
    display: none;
}
/*adjacent sibling selector*/
/*az input után, vele egy szinten, valahol utána, egy elem aminek a class-a .gombos-menu*/
.menu-checkbox-input:checked ~ .gombos-menu {
    display: block;
}

