/*csslint fallback-colors: false, order-alphabetical: false, box-model: false*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.header-container{
  /* 100% lesz a szélessége: */
  background-size: 100%;
  background: url(./banner.jpg);
  position: relative;
  /* ennek az elemnek a magassága a böngésző szélességének 40%-a (verticalWidth) */
  height: 20vw;
    margin-bottom: 40px;
}
header{
  width: 70%;
  font-weight: 300;
    
}


.company-image{
    float:right;
}
.menu-container{
    color: white;
}
.main-container{
    width: 45%;
    margin: auto;
}


.main-menu-item:hover{
    padding: 25px;
    background-color: #4cc3c3;
    transition: all 0.2s ease-in-out;
    
    
}
.main-menu{
    list-style: none;
    margin: 0;
}

.main-menu-item{
    border-left: 5px solid rgba(129,255,255,0.63);
    background-color: rgba(63,117,134,0.3);
    
    position: relative;
    width: 120px;
    padding:20px;
    margin-left: 200px;
    text-align: center;
    
}
footer{
    text-align: center;
    color: white;
    background-color: #13302E;
    padding: 20px 0 20px 0;
}
.company-intro{
    width: 40%;
    background-color: rgba(40, 70, 66, 0.4);
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.65);
    top: 50px;
    right: 10vw;
    position: absolute;
    padding: 20px;
    
}
.lead{
    font-weight: bold;
}
